extends layout

include _includes/sharedHTMLfunctions

block content
  .resource-info-grid
      .resource-info-box.resource-info-a
          .resource-info-sub-box.resource-info-sub-a
              h1.header_space_grid.text_black= sourceDetails.Title
              a(href='/resource/', style='color:white')
                  span.spacing.hi-icon.hi-icon-arrow
                      i.fa.fa-arrow-left.fa-2x
              a(href='/resource/update/'+ sourceDetails.Id, style='color:white')
                  span.spacing.hi-icon.hi-icon-info
                      i.fa.fa-pencil-square-o.fa-2x
          .resource-info-sub-box.resource-info-sub-b
              dl.uk-description-list-line.uk-contrast
                  dt.header_text.title_orange Source  
                  hr.hr_padding.hr_color
                  |     
                  dd.text_size.space.text_white #{sourceDetails.Source}
                  
                  dt.header_text.title_orange Categories
                  hr.hr_padding.hr_color
                  |     
                  dd.text_size.space.text_white #{sourceDetails.Category}

                  dt.header_text.title_orange Type of Source
                  hr.hr_padding.hr_color
                  |     
                  dd.text_size.space.text_white #{sourceDetails.Type}

          .resource-info-sub-box.resource-info-sub-c
              .resource-info-sub-box.resource-info-sub-c-textbox.scroll
                  dl.uk-description-list-line.uk-contrast
                     dt.header_text.title_orange Description
                     hr.hr_padding.hr_color
                     |     
                     dd.text_size.space.text_white #{sourceDetails.Description}
     
              .resource-info-sub-box.resource-info-sub-d-textbox 
                  dl.uk-description-list-line.uk-contrast
                     dt.header_text.title_orange Rating
                     hr.hr_padding.hr_color
                     dd.rating_space 
                       +outputRating(sourceDetails.Rating)
